[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=rebelspride
Group=www-data
WorkingDirectory=/home/rebelspride/rebelspride/rebelspride
ExecStart=/home/rebelspride/rebelspride_env/bin/gunicorn --workers 3 --bind unix:/home/rebelspride/rebelspride/rebelspride/rebelspride.sock rebelspride.wsgi:application

[Install]
WantedBy=multi-user.target
